body{
font-family: Arial, sans-serif;
background: linear-gradient(to right,#dfe9f3,#ffffff);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:30px;
width:350px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
text-align:center;
}

h2{
margin-bottom:20px;
}

input{
width:90%;
padding:10px;
margin-top:10px;
margin-bottom:20px;
border-radius:5px;
border:1px solid #ccc;
font-size:16px;
}

button{
background:#2d36ff;
color:white;
padding:10px 20px;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1f28d8;
}

.result{
margin-top:20px;
font-size:18px;
font-weight:bold;
}